# Docker development
PORT=8080
SPRING_PROFILES_ACTIVE=dev
GRADLE_CACHE_DIR=/home/your_user/.gradle
# Windows example:
# GRADLE_CACHE_DIR=C:/Users/your_user/.gradle

# Production profile
SERVER_PORT=8080
DB_URL=jdbc:postgresql://postgres:5432/postgres # jdbc:postgresql://host:5432/db_name
DB_USER=root
DB_PASSWORD=root
DB_POOL_MAX=20
DB_POOL_MIN_IDLE=5
DB_CONNECTION_TIMEOUT=30000

# Google Cloud
GCP_PROJECT_ID=my-gcp-project
GCS_BUCKET=my-gcs-bucket
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/gcp-service-account.json

# OAuth2 Google
GOOGLE_OAUTH_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxx
GOOGLE_OAUTH_ISSUER_URI=https://accounts.google.com
GOOGLE_OAUTH_AUDIENCE=xxxx.apps.googleusercontent.com
